<div class="h-100 w-100 mx-auto wrapper">

  <div class="header-wrapper">
    <div class="d-flex justify-content-between w-100 m-auto header">
      <div class="d-flex align-items-center my-auto ms-3 route-name">
        <a class="ref"
           [routerLink]="['/wiki']">Wiki</a>
      </div>
    </div>
  </div>

  <div class="w-100 body-wrapper">

    <div class='w-100 h-100 p-3 mx-auto body'>

      <div class="d-flex flex-column align-items-center mt-5 content">
        <h1 class="title">404</h1>
        <h1 class="mb-3">Page Not Found</h1>
        <h3 class="mb-5 text-center">Make sure the address is correct and the page hasn't moved</h3>
        <button mat-stroked-button
                class="button"
                [routerLink]="['/wiki']">Back to Wiki</button>
      </div>

    </div>

  </div>