@import "colors";

.wrapper {

    .header-wrapper {
        border-bottom: 3px solid map-get($colorMap, "danger");
        background-color: map-get($backgroundColorMap, "primary");

        .header {
            font-size: 1.4rem;
            height: 2.5rem;
            color: map-get($colorMap, "default");
            max-width: 60rem;

            @media screen and (max-width: 40rem) {
                font-size: 1rem;
            }

            @media screen and (max-width: 33.75rem) {
                height: 4.5rem;
                font-size: 1.2rem;
            }
    
            .route-name {
                width: 90%;
    
                .ref {
                    display: block;
                    color: map-get($colorMap, "primary");
                    text-decoration: unset;
                    white-space: nowrap;
    
                    &:hover {
                        background-color: map-get($backgroundColorMap, "primary-middle");
                    }
                }
    
                .slesh {
                    cursor: default;
                    user-select: none;
                }
            }
        }
    }

    .body-wrapper {
        height: calc(100% - 2.7rem);
        overflow: auto;

        @media screen and (max-width: 33.75rem) {
            height: calc(100% - 4.7rem);
        }

        .body {
            max-width: 50rem;
    
            @media screen and (max-width: 33.75rem) {
                height: calc(100% - 4.7rem);
            }

            .content {
                color: map-get($colorMap, "default");

                .title {
                    font-size: 4rem;
                }

                .button {
                    transition: all 300ms ease;
                    &:hover {
                        color: map-get($colorMap, "primary");
                    }
                }
            }
        }
    }
}