<div class="wrapper">
  <h2 *ngIf="data.product.addForm"
      mat-dialog-title
      class="dialog-header">Add product</h2>
  <h2 *ngIf="!data.product.addForm"
      mat-dialog-title
      class="dialog-header">Edit product</h2>

  <form [formGroup]="form"
        (ngSubmit)="submitChanges()">
    <mat-dialog-content>

      <div class="d-flex w-100">
        <div mat-card-avatar
             class="mb-3 me-3 logo-wrapper">
          <img *ngIf="data.product.logo"
               class="logo"
               src={{data.product.logo}}>
          <div class="set-logo"
               (click)="setLogo()"
               [ngClass]="{
             'no-logo': !data.product.logo,
             'add-no-logo': data.product.addForm
           }">
            SET LOGO
          </div>
        </div>

        <mat-form-field *ngIf="settingLogo" class="w-100 mt-2">
          <mat-label>Logo url</mat-label>
          <input matInput
                 type="text"
                 formControlName="logo"
                 (input)="changeProductStatus()">
        </mat-form-field>
      </div>

      <div class="input-wrapper">
        <mat-form-field class="w-100 product-input">
          <mat-label>Product name</mat-label>
          <input matInput
                 type="text"
                 formControlName="name"
                 (input)="changeProductStatus()">
          <mat-error *ngIf="form.get('name')!.invalid">
            Product name cant be empty
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mt-2 mb-2 w-100 product-input">
          <mat-label>Product url-name</mat-label>
          <input matInput
                 type="text"
                 formControlName="urlName"
                 (input)="changeProductStatus()"
                 (ngModelChange)="toUrlValidName($event)">
          <mat-error *ngIf="form.get('urlName')!.hasError('required')">
            Url-name cant be empty
          </mat-error>
          <mat-error *ngIf="form.get('urlName')!.hasError('notUnique') && !form.get('urlName')!.hasError('required')">
            This url-name is already in use
          </mat-error>
        </mat-form-field>

      </div>

      <button *ngIf="!data.product.addForm"
              mat-stroked-button
              class="mt-3 mb-3 w-100 delete-product"
              type="button"
              [mat-dialog-close]="true"
              (click)="deleteProduct()">
        Delete product
      </button>

    </mat-dialog-content>

    <mat-dialog-actions align="end"
                        class="buttons">
      <button mat-button
              class="button-cancel"
              type="button"
              mat-dialog-close>Cancel</button>
      <button *ngIf="data.product.addForm"
              mat-button
              class="button-ok"
              type="submit"
              [disabled]="form.invalid"
              [mat-dialog-close]="true"
              (click)="addProduct()">OK</button>
      <button *ngIf="!data.product.addForm"
              mat-button
              class="button-ok"
              type="submit"
              [disabled]="form.invalid"
              [mat-dialog-close]="true">OK</button>
    </mat-dialog-actions>

  </form>

</div>