@import "colors";

.wrapper {
    .dialog-header {
        text-align: right;
        color: map-get($colorMap, "default");
    }

    .logo-wrapper {
        position: relative;
        height: 5rem;
        width: 5rem;
    
        .logo {
            height: 5rem;
            width: 5rem;
        }
    
        .set-logo {
            height: 5rem;
            width: 5rem;
            font-size: 1.5rem;
            font-weight: 500;
            text-align: center;
            color: map-get($colorMap, "primary");
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            opacity: 0;
            user-select: none;
            padding-top: 1.1rem;
    
            &:hover {
                color: white;
                background-color: rgba(128, 128, 128, 0.829);
                opacity: 1;
            }
        }
        
        .no-logo {
            opacity: 1;
            background-color: map-get($backgroundColorMap, "primary-middle");
        }
    
        .add-no-logo {
            background-color: map-get($backgroundColorMap, "primary-middle");
        }
    }

    .input-wrapper {
        .product-input {
            color: map-get($colorMap, "default");
        }
    }

    .delete-product {
        background-color: rgb(228, 0, 0);
        color: white;

        &:hover {
            background-color: map-get($colorMap, "danger");
        }
    }

    .buttons {
        .button-cancel {
            border-radius: 0.3rem;
            color: map-get($colorMap, "primary");
            background-color: initial;

            &:hover {
                background-color: map-get($backgroundColorMap, "primary-hight");
            }
        }
    }

    .button-ok {
        border-radius: 0.3rem;
        background-color: map-get($colorMap, "primary");
        color: white;

        &.mat-button-disabled {
            background-color: map-get($colorMap, "primary-faded");
            cursor: not-allowed;

            &:hover {
                background-color: map-get($colorMap, "primary-faded");
            }
        }

        &:hover {
            background-color: map-get($colorMap, "primary-hover");
        }
    }
}

