<div class="h-100 w-100 mx-auto wrapper">

    <div class="header-wrapper">
        <div class="d-flex justify-content-between w-100 m-auto header">

            <div class="d-flex align-items-center my-auto ms-3 route-name">
                <span class="ref">Wiki</span>
            </div>

            <div class="me-2 d-flex align-items-center right-side">

                <button mat-icon-button
                        class="button"
                        *ngIf="!edit && !loading$.value"
                        (click)="toggleEditProducts()">
                    <mat-icon class="material-icons-outlined">create</mat-icon>
                </button>

            </div>

        </div>
    </div>

    <div class="w-100 body-wrapper"
         [ngClass]="{
        editting: edit
      }">

        <div class='w-100 h-100 p-3 mx-auto body'>

            <div *ngIf="!loading$.value && products.length">
                <div class="d-flex justify-content-center mx-auto search-container">
                    <input class="p-1 search-input"
                           [(ngModel)]="searchString"
                           type="text"
                           (keydown.esc)="searchString=''"
                           placeholder="Search..."
                           [ngClass]="{
                            'focus': searchString
                          }">
                </div>

                <div class="d-flex justify-content-center flex-wrap align-content-start products-container">

                    <div *ngFor="let product of products | searchProduct: searchString">
                        <mat-card *ngIf="product.status !== RecordStatusEnum.deleted"
                                  class="m-3 p-2 product-block"
                                  (click)="openTopic(product)"
                                  [ngClass]="{
                          'product-block-not-edit': !edit,
                          'd-flex align-items-center justify-content-center add-product-block': product.addForm
                        }">

                            <mat-card-header *ngIf="!product.addForm"
                                             class="d-flex justify-content-between mb-2 first-line">
                                <div mat-card-avatar
                                     class="card-avatar">
                                    <img *ngIf="product.logo; else noLogo"
                                         class="logo"
                                         src={{product.logo}}
                                         alt="Product logo">
                                    <ng-template #noLogo>
                                        <img class="logo"
                                             src="../../assets/logo.png"
                                             alt="Product logo">
                                    </ng-template>
                                </div>
                                <mat-card-title>

                                    <div class="product-name">
                                        {{product.name}}
                                    </div>

                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content *ngIf="!product.addForm"
                                              class="second-line">
                                <div class="counts">
                                    <div>
                                        Topics count: {{product.topics}}
                                    </div>
                                    <div>
                                        Issues count: {{product.issues}}
                                    </div>
                                </div>

                            </mat-card-content>

                            <div *ngIf="product.addForm"
                                 class="d-flex align-items-center justify-content-center add-wrapper"
                                 (click)="openDialog(product)">
                                <mat-icon class="material-icons-outlined add">
                                    add_circle_outline
                                </mat-icon>
                            </div>


                            <div *ngIf="edit && !product.addForm"
                                 class="product-edit"
                                 (click)="openDialog(product)">
                                <mat-icon class="material-icons-outlined change">
                                    edit
                                </mat-icon>
                            </div>

                        </mat-card>
                    </div>

                </div>
            </div>

            <div *ngIf="!products.length && !loading$.value"
                 class="mt-5 no-products">
                There is no products yet...
            </div>

            <div *ngIf="loading$.value">
                <mat-spinner class="spinner"></mat-spinner>
            </div>

        </div>
    </div>

    <div *ngIf="!loading$.value && edit"
         class="w-100 buttons-container">
        <div class="d-flex justify-content-end w-100 m-auto buttons">
            <button mat-flat-button
                    class="mt-2 mb-2 me-2 button-cancel"
                    (click)="toggleEditProducts()">
                Cancel
            </button>
            <button mat-flat-button
                    class="mt-2 mb-2 me-3 button"
                    (click)="save()">
                Save changes
            </button>
        </div>
    </div>

</div>