@import "colors";

.wrapper {

    .header-wrapper {
        border-bottom: 3px solid map-get($colorMap, "primary");
        background-color: map-get($backgroundColorMap, "primary");

        .header {
            font-size: 1.4rem;
            height: 2.5rem;
            color: map-get($colorMap, "default");
            max-width: 60rem;

            @media screen and (max-width: 40rem) {
                font-size: 1rem;
            }

            @media screen and (max-width: 33.75rem) {
                height: 4.5rem;
                font-size: 1.2rem;
            }
    
            .route-name {
                width: 90%;
    
                .ref {
                    text-decoration: unset;
                    cursor: default;
                }
            }

            .right-side {
                .button {
                    color: map-get($colorMap, "primary");
    
                    &:hover {
                        color: map-get($colorMap, "primary-hover");
                    }
                }
            }
        }
    }

    .body-wrapper {
        height: calc(100% - 2.7rem);
        overflow: auto;

        @media screen and (max-width: 33.75rem) {
            height: calc(100% - 4.7rem);
        }

        .body {
            max-width: 50rem;
    
            @media screen and (max-width: 33.75rem) {
                height: calc(100% - 4.7rem);
            }
    
            .spinner {
                position: absolute;
                top: 50%;
                left: 50%;
            }
    
            .search-container {
                max-width: 60rem;
                margin-bottom: 2rem;
    
                .search-input {
                    background-color: map-get($backgroundColorMap, "primary-hight");
                    border: 1px solid rgba(25, 102, 210, 0.040);
                    border-radius: 0.3rem;
                    outline: none;
                    width: 90%;
                    height: 2rem;
                    transition: 200ms ease;
    
                    &:focus {
                        width: 100%;
                    }
                }
    
                .focus {
                    width: 100%;
                }
            }
            
            .products-container {
    
                .product-block {
                    max-width: 13rem;
                    min-width: 13rem;
                    height: 7.5rem;
                    box-shadow: 
                    0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
                    transition: 200ms ease;
                    outline: unset;
                    position: relative;

                    .product-edit {
                        position: absolute;
                        top: 0;
                        left: 0;
                        max-width: 13rem;
                        min-width: 13rem;
                        height: 7.5rem;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: 200ms ease;

                        .change {
                            width: 2rem;
                            height: 2rem;
                            font-size: 2rem;
                            color: map-get($colorMap, "default");
                            user-select: none;
                            opacity: 0;
                            transition: 200ms ease;
                        }

                        &:hover {
                            background-color: rgba(217, 232, 251, 0.6);

                            .change {
                                color: map-get($colorMap, "primary-hover");
                                opacity: 1;
                            }
                        }
                    }


        
                    .first-line {
                        .card-avatar {
                            .logo {
                                height: 2.5rem;
                                width: 2.5rem;
                            }
                        }

                        .product-name {
                            font-size: 1rem;
                            padding-top: 2px;
                            color: map-get($colorMap, "default");
                            height: 1.25rem;
                            width: 8rem;
                            text-align: right;
                        }

                        .product-name-input {
                            border: none;
                            border-bottom: 1px solid map-get($colorMap, "default-faded");
                            outline: none;
                            padding: 0;
                            width: 8rem;
                            height: 1.25rem;
                            font-size: 1rem;
                            color: map-get($colorMap, "default");
                            background-color: transparent;
                            font-weight: 500;
                            font-family: Roboto, "Helvetica Neue", sans-serif;
                            text-align: right;
                            text-overflow: ellipsis;
                            transition: 200ms ease;
    
                            &:focus {
                                border-bottom: 1px solid map-get($colorMap, "primary");
                            }
                        }

                        .error.ng-touched {
                            border-bottom: 1px solid map-get($colorMap, "danger");
                        }

                        ::placeholder  {
                            font-size: 0.8rem;
                            font-weight: 400;
                        }
                        
                    }
                    .second-line {
                        color: map-get($colorMap, "default");

                        .counts {
                            margin-top: 1.5rem;
                        }

                        .icons {
                            display: flex;
                            justify-content: flex-end;
                            position: absolute;
                            bottom: 1rem;
                            right: 1rem;
                            cursor: pointer;

                            .icon {

                                font-size: 1.5rem;
                                user-select: none;
                            }

                            .delete {
                                &:hover {
                                    color: map-get($colorMap, "danger");
                                }
                            }

                            .success {
                                font-weight: bold;
                                color: map-get($colorMap, "success");
                                &:hover {
                                    color: rgb(1, 151, 1);
                                }
                            }

                            .errors {
                                color: unset;
                                &:hover {
                                    color: unset;
                                }
                            }
                        }

                        .errors {
                            cursor: not-allowed;
                        }

                        .product-url-input {
                            border: none;
                            border-bottom: 1px solid map-get($colorMap, "default-faded");
                            outline: none;
                            padding: 0;
                            margin-top: 1.6rem;
                            width: 9rem;
                            height: 1.25rem;
                            color: map-get($colorMap, "default");
                            background-color: transparent;
                            font-family: Roboto, "Helvetica Neue", sans-serif;
                            text-overflow: ellipsis;
                            transition: 200ms ease;
    
                            &:focus {
                                border-bottom: 1px solid map-get($colorMap, "primary");
                            }
                        }

                        .error.ng-touched {
                            border-bottom: 1px solid map-get($colorMap, "danger");
                        }
                    }

                }

                .add-product-block {
                    background-color: map-get($backgroundColorMap, "primary-middle");
                    cursor: pointer;

                    .add-wrapper {
                        height: 100%;
                        width: 100%;
                        
                        .add {
                            width: 3rem;
                            height: 3rem;
                            font-size: 3rem;
                            color: map-get($colorMap, "default");
                            user-select: none;
                            transition: 200ms ease;
                        }
                    }



                    &:hover {
                        background-color: rgba(26, 115, 232, 0.164);
                        .add-wrapper {
                            .add {
                                color: map-get($colorMap, "primary-hover");
                            }
                        }
                    }

                }
                

                .product-block-not-edit {
                    cursor: pointer;
                    &:hover {
                        background-color: unset;
                        transform: scale(1.05);
                    }
                }
            }

            .no-products {
                color: map-get($colorMap, "default");
                font-size: 1rem;
            }
        }
    }

    .editting {
        height: calc(100% - 6.2rem);

        @media screen and (max-width: 33.75rem) {
            height: calc(100% - 8.2rem);
        }
    }

    .buttons-container {
        border-top: 3px solid map-get($colorMap, "primary");
        background-color: map-get($backgroundColorMap, "primary");

        .buttons {
            max-width: 60rem;
            border-top: 1px solid rgb(218, 220, 224);
            
            .button-cancel {
                border-radius: 0.3rem;
                color: map-get($colorMap, "primary");
                background-color: initial;
    
                &:hover {
                    background-color: map-get($backgroundColorMap, "primary-hight");
                }
            }
    
            .button {
                border-radius: 0.3rem;
                background-color: map-get($colorMap, "primary");
                color: white;
    
                &.mat-button-disabled {
                    background-color: map-get($colorMap, "primary-faded");
                    cursor: not-allowed;
    
                    &:hover {
                        background-color: map-get($colorMap, "primary-faded");
                    }
                }
    
                &:hover {
                    background-color: map-get($colorMap, "primary-hover");
                }
            }
        }
    }
}

