<div class="h-100 w-100 wrapper">

  <div class="w-100 sub-wrapper"
       [ngClass]="{
    'subedit': edit
  }">

    <div class="header-wrapper headeredit"
         [ngClass]="{
      'headeredit': edit,
      'headernotedit': !edit
     }">
      <div class="d-flex justify-content-between w-100 mx-auto header"
           [ngClass]="{
        'headnotedit': !edit
       }">

        <div class="d-flex align-items-center my-auto ms-3 route-name">
          <a class="ref"
             [routerLink]="['/wiki']">Wiki</a>
          <span class="mx-2 slesh"> / </span>
          <a *ngIf="!loading$.value && productIssue"
             class="ref"
             [routerLink]="['/wiki', currentProductUrlTitle$.value]">{{ currentProductTitle$.value }}</a>
          <span *ngIf="!loading$.value"
                class="mx-2 slesh"> / </span>
          <span *ngIf="!loading$.value && !edit && productIssue"
                class="w-100 issue-title">{{ productIssue.title }}</span>
          <input *ngIf="!loading$.value && edit && productIssue"
                 class="w-100 input"
                 type="text"
                 [formControl]="titleControl"
                 (keydown.esc)="productIssue.title=''"
                 [ngClass]="{
                  'error': titleControl.invalid
                  }">

        </div>

        <div *ngIf="!loading$.value"
             class="me-2 d-flex align-items-center right-side">

          <button *ngIf="!edit"
                  mat-icon-button
                  class="button"
                  (click)="editItem()">
            <mat-icon class="material-icons-outlined">create</mat-icon>
          </button>
        </div>

      </div>
    </div>


    <div #scrollbox
         style="height: 100%; overflow: auto;"
         (scroll)="onScroll()">

      <div class="d-flex h-100 body-wrapper">

        <div *ngIf="productIssue"
             class="w-100 h-100 mx-auto body">

          <div *ngIf="!edit && !loading$.value">

            <div #scrollboxinside
                 *ngIf="htmlBlockHasContent; else noBlocks"
                 class="quill-view-wrapper">
              <div [id]="contentBlock.id"
                   *ngFor="let contentBlock of quillBlocks">
                <quill-view-html [content]="contentBlock.content"
                                 theme="snow">
                </quill-view-html>
              </div>
            </div>

            <ng-template #noBlocks>
              <div class="noBlocks">
                There is no content yet...
              </div>
            </ng-template>

          </div>

          <div *ngIf="edit && !loading$.value && urlTitleControl"
               class="h-100 input-div">
            <div class="w-100 input-form-wrapper">
              <mat-form-field class="input-form">
                <mat-label>set URL title</mat-label>
                <input matInput
                       class="input"
                       placeholder="New value..."
                       [formControl]="urlTitleControl"
                       (keydown.esc)="productIssue.urlTitle=''"
                       (ngModelChange)="toUrlValidName($event)">
                <mat-error *ngIf="urlTitleControl.invalid">
                  This url-name is already in use
                </mat-error>
              </mat-form-field>
            </div>


            <form *ngIf="!loading$.value && edit"
                  class="form-quill"
                  [formGroup]="quillForm">

              <div class="quill-editor-wrapper">

                <quill-editor [styles]="{borderLeft: 'unset', borderRight: 'unset', borderBottom: 'unset', backgroundColor: 'white', outline: 'none'}"
                              [modules]="config"
                              formControlName="content"
                              scrollingContainer=".body"></quill-editor>

              </div>

            </form>
          </div>

        </div>

        <div class="mt-4 me-3 nav-menu-block"
             *ngIf="!loading$.value && !edit && productIssue">
          <div *ngFor="let block of quillBlocks">
            <div class="mb-2 mt-2 nav-menu"
                 *ngIf="block.id && block.title"
                 [style.padding-left.rem]="block.level * 0.5"
                 (click)="scrollToTitle(block.id)"
                 [ngClass]="{
                  'currentblock': block.id === currentTextBlockId
                }">
              <a class="navigation">
                {{block.title}}
              </a>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="loading$.value">
        <mat-spinner class="spinner"></mat-spinner>
      </div>
    </div>

    <div *ngIf="!loading$.value && edit && urlTitleControl"
         class="w-100 buttons-container">
      <div class="d-flex justify-content-end w-100 m-auto buttons">
        <button mat-flat-button
                type="button"
                class="mt-2 mb-2 me-2 button-cancel"
                (click)="editItem()">
          Cancel
        </button>

        <button mat-flat-button
                type="submit"
                [disabled]="titleControl.invalid || urlTitleControl.invalid"
                class="mt-2 mb-2 me-3 button"
                (click)="save()">
          Save changes
        </button>

      </div>
    </div>
  </div>
</div>