@import "colors";

.wrapper {
    .sub-wrapper {
        height: calc(100% - 2.5rem - 3px);

        @media screen and (max-width: 33.75rem) {
            height: calc(100% - 4.5rem - 3px);
        }

        .header-wrapper {
            border-bottom: 3px solid map-get($colorMap, "primary");
            background-color: map-get($backgroundColorMap, "primary");
            padding-right: calc(19% + 4rem);

            .header {
                font-size: 1.4rem;
                max-width: 60rem;
                min-width: 17.5rem;
                color: map-get($colorMap, "default");
                height: 2.5rem;

                @media screen and (max-width: 40rem) {
                    font-size: 1rem;
                }

                @media screen and (max-width: 33.75rem) {
                    height: 4.5rem;
                    font-size: 1.2rem;
                }
        
                .route-name {
                    width: 90%;

                    @media screen and (max-width: 33.75rem) {
                        flex-wrap: wrap;
                    }
        
                    .ref {
                        display: block;
                        color: map-get($colorMap, "primary");
                        text-decoration: unset;
                        white-space: nowrap;
        
                        &:hover {
                            background-color: map-get($backgroundColorMap, "primary-middle");
                        }
                    }
        
                    .slesh {
                        cursor: default;
                        user-select: none;
                    }
        
                    .issue-title {
                        cursor: default;
                        display: block;
                        line-height: 1.625rem;
                    }
        
                    .input {
                        font-size: 1.4rem;
                        color: map-get($colorMap, "default");
                        border: unset;
                        padding: unset;
                        margin: unset;
                        outline: unset;
                        line-height: 1.625rem;
                        font-family: Roboto, "Helvetica Neue", sans-serif;
                        background-color: initial;
                        transition: all 300ms ease;

                        @media screen and (max-width: 40rem) {
                            font-size: 1rem;
                        }
        
                        @media screen and (max-width: 33.75rem) {
                            font-size: 1.2rem;
                        }
        
                        &:hover {
                            background-color: map-get($backgroundColorMap, "primary-middle");
                        }
                        &:focus {
                            background-color: map-get($backgroundColorMap, "primary-middle");
                        }
                    }

                    .error {
                        border-bottom: 1px solid map-get($colorMap, "danger");
                    }
                }
        
                .right-side {
                    .button {
                        color: map-get($colorMap, "primary");
    
                        &:hover {
                            color: map-get($colorMap, "primary-hover");
                        }
                    }
                }
            }

            .headnotedit {
                @media screen and (max-width: 74.0625rem) {
                    margin: 0;
                }
            }
        }

        .headeredit {
            @media screen and (max-width: 78rem) {
                padding-left: 0;
            }
            @media screen and (max-width: 65rem) {
                padding-right: 0;
            }
        }

        .headernotedit {
            padding-right: calc(19% + 4rem);

            @media screen and (max-width: 78rem) {
                padding-right: 19%;
            }
            @media screen and (max-width: 50rem) {
                padding-right: 0;
            }
        }

        .nav-menu-block {
            max-height: calc(100% - 6rem);
            width: 18%;
            position: fixed;
            right: 0;
            border-left: 1px solid map-get($colorMap, "primary-faded");
            overflow-y: auto;
            overflow-x: hidden;

            @media screen and (max-width: 50rem) {
                display: none;
            }

            .nav-menu {
                position: relative;
                cursor: pointer;
                border-left: 3px solid transparent;
                transition: all 300ms ease;
    
                .navigation {
                    color: map-get($colorMap, "default-faded");
                    text-decoration: none;
                }
    
                &:hover {
                    background-color: map-get($backgroundColorMap, "primary-middle");
                    border-left: 3px solid map-get($colorMap, "primary");

                    .navigation {
                        color: map-get($colorMap, "primary");
                    }
                }
            }

            .currentblock {
                background-color: map-get($backgroundColorMap, "primary-middle");
                border-left: 3px solid map-get($colorMap, "primary");
                
                .navigation {
                    color: map-get($colorMap, "primary");
                }
            }
        }

        .body-wrapper {
            padding-right: calc(19% + 4rem);

            @media screen and (max-width: 78rem) {
                padding-right: 19%;
            }

            @media screen and (max-width: 50rem) {
                padding-right: 0;
            }

            .body {
                max-width: 60rem;
                min-width: 17.5rem;
                // padding-top: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;

                .quill-view-wrapper {
                    padding: 1rem 0 88vh 0;

                    @media screen and (max-width: 50rem) {
                        padding-bottom: 2rem;
                    }
                }

                .noBlocks {
                    margin-top: 2rem;
                    font-size: 1rem;
                    font-weight: 300;
                }
        
                .input-div {
                    .input-form-wrapper{
                        background-color: map-get($backgroundColorMap, "primary");
                        border-left: 1px solid rgba(25, 102, 210, 0.040);
                        border-right: 1px solid rgba(25, 102, 210, 0.040);
                        padding-top: 1rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        
                        .input-form {
                            height: 3.6rem;
                            width: 100%;
                        }
                    }
                    .form-quill {
                        height: calc(100% - 4.6rem);

                        .quill-editor-wrapper {
                            height: calc(100% - 2.55rem);

                            @media screen and (max-width: 103.5625rem) {
                                height: calc(100% - 4.05rem);
                            }
                            @media screen and (max-width: 38.9375rem) {
                                height: calc(100% - 5.55rem);
                            }
                            @media screen and (max-width: 28.5625rem) {
                                height: calc(100% - 7.05rem);
                            }
                            @media screen and (max-width: 25.0625rem) {
                                height: calc(100% - 8.65rem);
                            }
                            @media screen and (max-width: 22.5rem) {
                                height: calc(100% - 7.05rem);
                            }
                            @media screen and (max-width: 20.0625rem) {
                                height: calc(100% - 8.65rem);
                            }
                        }
                    }
                }      
            }
        }
    
        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
        }

        .buttons-container {
            height: calc(3.25rem + 4px);
            border-top: 3px solid map-get($colorMap, "primary");
            border-left: 3px solid map-get($colorMap, "primary");
            background-color: map-get($backgroundColorMap, "primary");
            padding-right: calc(19% + 4rem);

            @media screen and (max-width: 78rem) {
                padding-right: 19%;
                border-left: unset;
            }
            @media screen and (max-width: 50rem) {
                padding-right: 0;
            }

            .buttons {
                max-width: 60rem;
                
                .button-cancel {
                    border-radius: 0.3rem;
                    color: map-get($colorMap, "primary");
                    background-color: initial;
        
                    &:hover {
                        background-color: map-get($backgroundColorMap, "primary-hight");
                    }
                }
        
                .button {
                    border-radius: 0.3rem;
                    background-color: map-get($colorMap, "primary");
                    color: white;
        
                    &.mat-button-disabled {
                        background-color: map-get($colorMap, "primary-faded");
                        cursor: not-allowed;
        
                        &:hover {
                            background-color: map-get($colorMap, "primary-faded");
                        }
                    }
        
                    &:hover {
                        background-color: map-get($colorMap, "primary-hover");
                    }
                }
            }
        }
    }

    .subedit {
        height: calc(100% - 5.8rem - 6px);

        @media screen and (max-width: 33.75rem) {
            height: calc(100% - 7.8rem - 6px);
        }
    }
}