<div class="d-flex h-100 w-100 wrapper">

  <div class="h-100 first-component">
    <app-navigation></app-navigation>
  </div>

  
  <div *ngIf="wikiItemComponentActive$.value"
       class="h-100 second-component">
    <app-topics></app-topics>
  </div>

  <div class="h-100 w-100 third-component">
    <router-outlet></router-outlet>
  </div>

</div>