@import "colors";

.wrapper {
    min-width: 17.5rem;

    .first-component {
        width: 5rem;
        min-width: 5rem;
        max-width: 5rem;

        @media screen and (max-width: 22.5rem) {
            display: none;
        }
    }

    .second-component {
        width: 20rem;
        min-width: 20rem;
        max-width: 20rem;

        @media screen and (max-width: 78rem) {
            display: none;
        }
    }

    .third-component {
        background-color: map-get($backgroundColorMap, "default");
    }
}