@import "colors";

.wrapper {

    .header-wrapper {
        border-bottom: 3px solid map-get($colorMap, "primary");
        background-color: map-get($backgroundColorMap, "primary");

        .header {
            font-size: 1.4rem;
            height: 2.5rem;
            color: map-get($colorMap, "default");
            max-width: 60rem;

            @media screen and (max-width: 40rem) {
                font-size: 1rem;
            }

            @media screen and (max-width: 33.75rem) {
                height: 4.5rem;
                font-size: 1.2rem;
            }
    
            .route-name {
                width: 90%;
    
                .ref {
                    text-decoration: unset;
                    cursor: default;
                }
            }
        }
    }

    .body-wrapper {
        height: calc(100% - 2.7rem);
        overflow: auto;

        @media screen and (max-width: 33.75rem) {
            height: calc(100% - 4.7rem);
        }

        .body {
            max-width: 40rem;

            .title {
                color: map-get($colorMap, "default");
                font-size: 1.1rem;
                text-align: justify;
            }

            .list-item {
                color: map-get($colorMap, "default");

                .icon {
                    user-select: none;
                }

                .list-item-link {
                    color: map-get($colorMap, "primary");
                    text-decoration: unset;

                    &:hover {
                        color: map-get($colorMap, "primary-hover");
                    }
                }
            }
        }
    }
}