<div class="h-100 w-100 mx-auto wrapper">

  <div class="header-wrapper">
    <div class="d-flex justify-content-between w-100 m-auto header">
      <div class="d-flex align-items-center my-auto ms-3 route-name">
        <span class="ref">About</span>
      </div>
    </div>
  </div>

  <div class="w-100 body-wrapper">
    <div class='w-100 p-3 mx-auto mt-5 body'>
      <h3 class="title">
        Wiki Constructor - is a WEB application that allows you to quickly and very easily create and edit documentation with dynamic navigation through your products, topics and paragraphs!
      </h3>
      <mat-list >
        <mat-divider></mat-divider>
        <div mat-subheader>Front-end part developed using:</div>
        <mat-list-item class="list-item">
          <mat-icon mat-list-icon class="icon">remove</mat-icon>
          <a mat-line target="_blank" href="https://angular.io" class="list-item-link">Angular</a>
        </mat-list-item>
        <mat-list-item class="list-item">
          <mat-icon mat-list-icon class="icon">remove</mat-icon>
          <a mat-line target="_blank" href="https://material.angular.io" class="list-item-link">Angular Material</a>
        </mat-list-item>
        <mat-list-item class="list-item">
          <mat-icon mat-list-icon class="icon">remove</mat-icon>
          <a mat-line target="_blank" href="https://quilljs.com" class="list-item-link">Quill editor</a>
        </mat-list-item>
        <mat-list-item class="list-item">
          <mat-icon mat-list-icon class="icon">remove</mat-icon>
          <a mat-line target="_blank" href="https://highlightjs.org" class="list-item-link">Highlight JS</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Back-end part developed using:</div>
        <mat-list-item class="list-item">
          <mat-icon mat-list-icon class="icon">remove</mat-icon>
          <a mat-line target="_blank" href="https://nodejs.org/en" class="list-item-link">Node.js</a>
        </mat-list-item>
        <mat-list-item class="list-item">
          <mat-icon mat-list-icon class="icon">remove</mat-icon>
          <a mat-line target="_blank" href="https://expressjs.com" class="list-item-link">Express</a>
        </mat-list-item>
        <mat-list-item class="list-item">
          <mat-icon mat-list-icon class="icon">remove</mat-icon>
          <a mat-line target="_blank" href="https://node-postgres.com" class="list-item-link">pg (node-postgres)</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Data base:</div>
        <mat-list-item class="list-item">
          <mat-icon mat-list-icon class="icon">remove</mat-icon>
          <a mat-line target="_blank" href="https://www.postgresql.org/" class="list-item-link">PostgreSQL</a>
        </mat-list-item>
      </mat-list>

    </div>
  </div>

</div>