@import "colors";

.wrapper {

    .header {
        height: 2.5rem;
        background-color: map-get($backgroundColorMap, "primary");
        border-bottom: 3px solid inherit;

        @media screen and (max-width: 33.75rem) {
            height: 4.5rem;
        }
    }

    .content {
        height: calc(100% - 5.75rem - 1px);
        background-color: map-get($backgroundColorMap, "primary");
        border-right: 3px solid map-get($colorMap, "primary");

        @media screen and (max-width: 33.75rem) {
            height: calc(100% - 7.75rem - 1px);
        }

        .nav-button {
            color: map-get($colorMap, "default");
            background-color: unset;
            border: unset;
            outline: unset;
            cursor: pointer;
            height: 4rem;
            width: 4rem;
            user-select: none;

            &:hover {
                color: map-get($colorMap, "primary-hover");
            }
        }

        .nav-button-active {
            color: map-get($colorMap, "primary");
        }

    }

    .footer {
        height: calc(3.25rem + 1px);
        background-color: map-get($backgroundColorMap, "primary");
        border-right: 3px solid map-get($colorMap, "primary");
    }

    .footer-topics-edit {
        border-right: unset;
    }

    .footer-issues-edit {
        @media screen and (max-width: 78rem) {
            border-right: unset;
        }
    }

    .error-page {
        border-right: 3px solid map-get($colorMap, "danger");
    }

}