<div class="w-100 h-100 wrapper">

  <div class="header">
  </div>

  <div class="d-flex flex-column align-items-center w-100 pt-4 content"
       [ngClass]="{
        'error-page': errorPage$.value
  }">
    <button *ngFor="let button of navButtons"
            type="button"
            class="mb-3 nav-button"
            [routerLink]="button.urlName"
            [ngClass]="{
      'nav-button-active': activatedRoute === button.urlName
    }">
      <mat-icon class="material-icons-outlined">{{button.materialIconName}}</mat-icon>
      <div>{{button.name}}</div>
    </button>
  </div>



  <div class="footer"
       [ngClass]="{
    'footer-topics-edit': topicsEdit$.value === true,
    'footer-issues-edit': issueEdit$.value === true,
    'error-page': errorPage$.value
  }"></div>

</div>