@import '~highlight.js/scss/monokai-sublime';
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~bootstrap/dist/css/bootstrap-utilities.min.css";
@import "styles/fonts.css";
@import "colors";

* { box-sizing: border-box }
html, body { height: 100%; margin: 0 }
body { font-family: Roboto, "Helvetica Neue", sans-serif}

.item-title-form-field {
    width: 100%;
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                padding-top: 0.45rem;
                border: none;
            }
        }
    }
}

.cdk-overlay-pane {
    width: 30rem;
    min-width: 15rem;
}

.ql-container {
    font-size: 0.9rem;
}

.ql-toolbar.ql-snow {
    border: 1px solid rgba(25, 102, 210, 0.040);
    background-color: map-get($backgroundColorMap, "primary");
    border-top: none;
}

.ql-editor {
    padding: 0;
}

// Фикс скролл-топ во время вставления копиранного текста в эдитор 
.ql-clipboard {
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
 }

//  Фикс некорректного позиционирования tooltip при скроллинге
 .ql-tooltip {
    left: 0 !important;
    top: 0 !important;
    border: 1px solid rgba(25, 102, 210, 0.040) !important;
    border-radius: 0.3rem !important;
  }