<div 
    class="w-100 h-100 wrapper"
    style="overflow: hidden;"
    >

  <div class="header">
  </div>

  <div class="content">

    <div class="pt-3 nav-menu-block-topics"
         *ngIf="productTopics$.value">
      <div *ngFor="let topic of productTopics$.value.topics">
        <div class="mb-4 mt-2 nav-menu">
          <div *ngIf="topic.title"
               class="pb-4 ps-3 topic-title">
            {{ topic.title }}
          </div>
          <div class="issue-block"
               *ngFor="let issue of topic.issues">

            <div class="pe-2 issue-block-line"
                 (click)="openIssue(issue)"
                 [ngClass]="{
                  'activeissue': issue.id === issueUrlTitleOrId$.value || issue.urlTitle === issueUrlTitleOrId$.value,
                  'loading': loadingFromServer$.value
                }">
              <a class="w-100 mb-2 issue-title">
                {{ issue.title }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>