@import "colors";

.wrapper {

    .header {
        height: calc(2.5rem + 3px);
        background-color: map-get($backgroundColorMap, "primary");
        border-bottom: 3px solid map-get($colorMap, "primary");
    }

    .content {
        height: calc(100% - 2.5rem - 3px);
        background-color: map-get($backgroundColorMap, "primary");
        border-right: 1px solid rgba(25, 102, 210, 0.040);

        .nav-menu-block-topics {
            height: 100%;
            max-height: 100%;
            overflow: auto;
    
            .nav-menu {
                
                .topic-title {
                    font-size: 1.2rem;
                    color: map-get($colorMap, "default");           
                }

                .issue-block {

                    
                    .issue-block-line {
                        cursor: pointer;
                        border-right: 3px solid transparent;
                        transition: all 300ms ease;

                        .issue-title {
                            display: block;
                            padding-left: 2rem;
                            font-size: 1rem;
                            font-weight: 200;
                            color: map-get($colorMap, "default");
                        }

                        &:hover {
                            border-right: 3px solid map-get($colorMap, "primary");
                            background-color: map-get($backgroundColorMap, "primary-middle");

                            .issue-title {
                                color: map-get($colorMap, "primary");
                            }
                        }
                    }

                    .activeissue {
                        border-right: 3px solid map-get($colorMap, "primary");
                        background-color: map-get($backgroundColorMap, "primary-middle");

                        .issue-title {
                            color: map-get($colorMap, "primary");
                        }
                    }

                    .loading {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}