<div class="d-flex flex-column h-100 w-100 mx-auto wrapper">

  <div class="header-wrapper">
    <div class="d-flex justify-content-between w-100 m-auto header">

      <div class="d-flex align-items-center my-auto ms-3 route-name">
        <a class="ref"
           [routerLink]="['/wiki']">Wiki</a>
        <span class="mx-2 slesh">/</span>
        <span class="product-name">{{ currentProductTitle$.value }}</span>
      </div>

      <div class="me-2 d-flex align-items-center right-side">

        <button mat-icon-button
                *ngIf="!edit && !loading$.value"
                class="button"
                (click)="toggleEditItem()">
          <mat-icon class="material-icons-outlined">create</mat-icon>
        </button>

      </div>

    </div>
  </div>

  <div class="h-100"
       style="overflow: auto">
    <div class="w-100 p-3 m-auto body">
      <div *ngIf="!loading$.value && !edit">

        <div *ngIf="productTopics && productTopics.topics.length"
             class="d-flex justify-content-center search-container">
          <input class="p-1 search-input"
                 [(ngModel)]="searchString"
                 type="text"
                 (keydown.esc)="searchString=''"
                 placeholder="Search..."
                 [ngClass]="{
                  focus: searchString
                }">
        </div>

        <div *ngIf="productTopics">
          <div *ngIf="productTopics.topics.length; else noTopics">
            <div class="mb-3 mt-3 p3 topic"
                 *ngFor="let topic of productTopics.topics | searchTopic: searchString">

              <h1 *ngIf="topic.title"
                  class="d-flex align-items-center title-first">
                <mat-icon class="me-2 material-icons-outlined">article</mat-icon>
                <span>
                  {{ topic.title }}
                </span>
              </h1>

              <div class="issue-block"
                   *ngFor="let issue of topic.issues | search: searchString">

                <div *ngIf="topic.issues.length"
                     class="issue-block-line"
                     (click)="openIssue(issue)">
                  <a class="issue">
                    {{ issue.title }}
                  </a>
                </div>
              </div>
            </div>
          </div>

          <ng-template #noTopics>
            <div class="mt-5 no-topics">There is no topics in this product yet...</div>
          </ng-template>

        </div>

      </div>

      <div *ngIf="!loading$.value && edit">

        <div cdkDropList
             (cdkDropListDropped)="dropTopics($event)">
          <ng-container *ngFor="let topic of productTopics?.topics">

            <div cdkDragLockAxis="y"
                 *ngIf="topic.status !== RecordStatusEnum.deleted"
                 class="mb-3 mt-3 p3 topic"
                 cdkDrag>
              <div class="drag-placeholder"
                   *cdkDragPlaceholder></div>
              <div class="d-flex justify-content-between align-items-center title-block-line" [ngClass]="{
                'focus': topic.id === currentTopicId
              }">
                <h1 class="d-flex w-100 mb-0 title">
                  <div class="me-2 handle"
                       cdkDragHandle>
                    <mat-icon>unfold_more</mat-icon>
                  </div>
                  <input matInput
                         type="text"
                         class="w-100 topic-edit-name"
                         [(ngModel)]="topic.title"
                         (focusin)="focusInInputTopic(topic.id)"
                         (focusout)="focusOutInput()"
                         (input)="changeTopicStatus(topic)">
                </h1>

                <div class="topic-buttons">
                  <mat-icon class="mt-2 delete-button"
                            (click)="deleteTopic(topic)">clear</mat-icon>
                </div>
              </div>

              <div cdkDropList
                   class="boundary"
                   (cdkDropListDropped)="dropIssues($event, topic)">
                <ng-container *ngFor="let issue of topic.issues">

                  <div cdkDragBoundary=".boundary"
                       cdkDragLockAxis="y"
                       class="issue-block"
                       *ngIf="issue.status !== RecordStatusEnum.deleted"
                       cdkDrag>
                    <div class="drag-issue-placeholder"
                         *cdkDragPlaceholder></div>

                    <div class="d-flex justify-content-between align-items-center issue-line"
                         [ngClass]="{
                  'error': determineError(issue),
                  'focus': issue.id === currentIssueId
                }">
                      <div class="issue d-flex issue-drag">
                        <div class="handle"
                             cdkDragHandle>
                          <mat-icon>unfold_more</mat-icon>
                        </div>
                        <input matInput
                               (focusin)="focusInInput(issue.id)"
                               (focusout)="focusOutInput()"
                               type="text"
                               class="issue-edit-name"
                               [(ngModel)]="issue.title"
                               (input)="changeIssueStatus(topic, issue)">
                      </div>
                      <mat-icon class="delete-button"
                                (click)="deleteIssue(topic, issue)">clear</mat-icon>
                    </div>

                  </div>

                </ng-container>

              </div>

              <button mat-flat-button
                      class="mb-2 add-button"
                      (click)="toggleIssue(topic)">
                <mat-icon>playlist_add</mat-icon>
                New issue
              </button>

              <mat-expansion-panel [expanded]="issuePanelOpenState === topic">
                <mat-form-field class="input-user">
                  <mat-label>issue title...</mat-label>
                  <input matInput
                         type="text"
                         [(ngModel)]="newIssueName"
                         (keydown.esc)="newIssueName=''">
                  <button mat-button
                          *ngIf="newIssueName"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="newIssueName=''">
                    <mat-icon class="danger">close</mat-icon>
                  </button>
                  <button mat-button
                          *ngIf="newIssueName.trim()"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="addNewIssue(topic)">
                    <mat-icon class="success"><strong>done</strong></mat-icon>
                  </button>
                </mat-form-field>
              </mat-expansion-panel>

            </div>
          </ng-container>
        </div>

        <div class="d-flex align-items-center buttons-edit">
          <button mat-flat-button
                  class="m-3 plus-btn"
                  (click)="toggleNewTopicInput()">
            <mat-icon>post_add</mat-icon>
            New topic
          </button>

          <mat-form-field *ngIf="topicPanelOpenState"
                          class="w-100">
            <mat-label>Topic title...</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="newTopicName"
                   (keydown.esc)="newTopicName=''">
            <button mat-button
                    *ngIf="newTopicName"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="newTopicName=''">
              <mat-icon class="danger">close</mat-icon>
            </button>
            <button mat-button
                    *ngIf="newTopicName.trim()"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="addNewTopic()">
              <mat-icon class="success"><strong>done</strong></mat-icon>
            </button>
          </mat-form-field>

        </div>

      </div>

      <div *ngIf="loading$.value">
        <mat-spinner class="spinner"></mat-spinner>
      </div>

    </div>
  </div>

  <div *ngIf="!loading$.value && edit"
       class="w-100 buttons-container">

    <div class="d-flex justify-content-end w-100 m-auto buttons">

      <button mat-flat-button
              class="mt-2 mb-2 me-2 button-cancel"
              (click)="toggleEditItem()">
        Cancel
      </button>

      <button mat-flat-button
              [disabled]="!!issueErrorsCount()"
              class="mt-2 mb-2 me-3 button"
              (click)="save()">
        Save changes
      </button>

    </div>
  </div>
</div>