@import "colors";

.wrapper {
    .header-wrapper {
        border-bottom: 3px solid map-get($colorMap, "primary");
        background-color: map-get($backgroundColorMap, "primary");

        .header {
            font-size: 1.4rem;
            height: 2.5rem;
            color: map-get($colorMap, "default");
            max-width: 60rem;

            @media screen and (max-width: 40rem) {
                font-size: 1rem;
            }

            @media screen and (max-width: 33.75rem) {
                height: 4.5rem;
                font-size: 1.2rem;
            }
    
            .route-name {
                width: 90%;
    
                .ref {
                    color: map-get($colorMap, "primary");
                    text-decoration: unset;
    
                    &:hover {
                        background-color: map-get($backgroundColorMap, "primary-middle");
                    }
                }
    
                .slesh {
                    cursor: default;
                    user-select: none;
                }
    
                .product-name {
                    cursor: default;
                }
            }
    
            .right-side {
                .button {
                    color: map-get($colorMap, "primary");
    
                    &:hover {
                        color: map-get($colorMap, "primary-hover");
                    }
                }
            }
        }
    }

    .body {
        max-width: 50rem;

        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
        }

        .search-container {
            max-width: 60rem;
            margin-bottom: 2rem;

            .search-input {
                background-color: map-get($backgroundColorMap, "primary-hight");
                border: 1px solid rgba(25, 102, 210, 0.040);
                border-radius: 0.3rem;
                outline: none;
                width: 90%;
                height: 2rem;
                transition: 200ms ease;

                &:focus {
                    width: 100%;
                }
            }

            .focus {
                width: 100%;
            }
        }

        .topic-buttons {
            
            .delete-button {
                font-size: 1rem;
                color: map-get($colorMap, "default");
                cursor: pointer;
				user-select: none;
                width: 1rem;
                height: 1rem;
                margin-right: 0.1rem;

                &:hover {
                    color: map-get($colorMap, "danger")
                }
            }
        }

        .buttons-edit {

            .plus-btn {
                color: map-get($colorMap, "primary");
                font-size: 1rem;
                min-width: 8.25rem;

                &:hover {
                    background-color: map-get($backgroundColorMap, "primary-middle");
                }
            }
        }


        .topic {
            border-bottom: 1px solid rgb(218, 220, 224);

            .title-first {
                color: map-get($colorMap, "default");
                cursor: default;

                .material-icons-outlined {
                    cursor: default;
                    user-select: none;
                }
            }

            .add-button {
                color: map-get($colorMap, "primary");

                &:hover {
                    background-color: map-get($backgroundColorMap, "primary-middle");
                }
            }

            .title-block-line {
                .title {
                    color: map-get($colorMap, "default");
    
                    .handle {
                        transition: all 300ms ease;
                        color: map-get($colorMap, "default");
                        cursor: move;
                        width: 1rem;
                        height: 1rem;
                        padding-top: 0.21rem;
                    }

                    .topic-edit-name {
                        text-overflow: ellipsis;
                    }
                }

                &:hover {
                    background-color: map-get($backgroundColorMap, "primary-middle");
                }
                &.focus {
                    background-color: map-get($backgroundColorMap, "primary-middle");
                }
            }

            &:hover {

                .issue-block {
                    .handle {
                        opacity: 1;
                    }

                    .issue-line {
                        .delete-button {
                            opacity: 1;
                        }
                    }
                }
            }

            .issue-block-line {
                transition: all 300ms ease;
                cursor: pointer;
                &:hover {
                    background-color: map-get($backgroundColorMap, "primary-middle");
                }
            }

            .issue-block {
                margin-bottom: 0.4rem;
                margin-top: 0.4rem;

                .handle {
                    transition: all 300ms ease;
                    opacity: 0;
                    color: #ccc;
                    cursor: move;
                    width: 1rem;
                    height: 1px;
                    margin-right: 0.5rem;
                }

                .issue-line {
                    transition: all 300ms ease;
                    border-bottom: 1px solid transparent;
                    .delete-button {
                        transition: all 300ms ease;
                        font-size: 1rem;
                        color: rgba(95, 99, 104, 0.404);
                        opacity: 0;
                        cursor: pointer;
                        user-select: none;
                        width: 1rem;
                        height: 1rem;
                        margin-right: 0.1rem;

                        &:hover {
                            color: map-get($colorMap, "danger")
                        }
                    }

                    &:hover {
                        background-color: map-get($backgroundColorMap, "primary-middle");
                    }
                    &.focus {
                        background-color: map-get($backgroundColorMap, "primary-middle");
                    }

                    &.error {
                        border-bottom: 1px solid map-get($colorMap, "danger");
                    }
                }

                .issue {
                    text-decoration: unset;
                    height: 1.5rem;
                    color: map-get($colorMap, "primary");
                    font-size: 1rem;
                    font-weight: 200;
                    padding-left: 0.2rem;
                }

                .issue-drag {
                    transition: all 100ms ease;
                    border: unset;
                    padding-left: unset;
                    width: 100%;

                    .issue-edit-name {
                        width: 100%;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .no-topics {
            color: map-get($colorMap, "default");
            font-size: 1rem;
        }
    }

    .buttons-container {
        border-top: 3px solid map-get($colorMap, "primary");
        background-color: map-get($backgroundColorMap, "primary");

        .buttons {
            max-width: 60rem;
            border-top: 1px solid rgb(218, 220, 224);
            
            .button-cancel {
                border-radius: 0.3rem;
                color: map-get($colorMap, "primary");
                background-color: initial;
    
                &:hover {
                    background-color: map-get($backgroundColorMap, "primary-hight");
                }
            }
    
            .button {
                border-radius: 0.3rem;
                background-color: map-get($colorMap, "primary");
                color: white;
    
                &.mat-button-disabled {
                    background-color: map-get($colorMap, "primary-faded");
                    cursor: not-allowed;
    
                    &:hover {
                        background-color: map-get($colorMap, "primary-faded");
                    }
                }
    
                &:hover {
                    background-color: map-get($colorMap, "primary-hover");
                }
            }
    
        }
    }

    mat-expansion-panel:not([class*=mat-elevation-z]) {
        box-sizing: border-box;
        box-shadow: unset;
    }

    mat-expansion-panel {
        border-radius: 0px;

        .mat-form-field{
            width: 100%;
        }
    }

    .mat-form-field-infix {
        width: 100%;
    }

}

.danger {
    color: map-get($colorMap, "danger")
}

.success {
    color: map-get($colorMap, "success")
}
  
  .cdk-drag-preview {
    box-sizing: border-box;
    background-color: map-get($backgroundColorMap, "default");
    cursor: move;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);

                .handle {
                    transition: all 300ms ease;
                    color: #ccc;
                    cursor: move;
                    width: 1rem;
                    height: 1px;
                    margin-right: 0.5rem;
                }

                .issue-line {

                    .delete-button {
                        transition: all 300ms ease;
                        font-size: 1rem;
                        color: rgba(95, 99, 104, 0.404);
                    }
                }

                .issue {
                    text-decoration: unset;
                    height: 1.5rem;
                    color: map-get($colorMap, "primary");
                    font-size: 1rem;
                    font-weight: 200;
                    padding-left: 0.2rem;
                }

                .issue-drag {
                    transition: all 100ms ease;
                    border: unset;
                    padding-left: unset;
                }

                .add-button {
                    color: map-get($colorMap, "primary");
                }

                .title-block-line {


                    .title {
                        color: map-get($colorMap, "default");
                    }

                    .topic-buttons {
                        display: none;
                    }
                }

                .issue-block {
                    margin-bottom: 0.4rem;
                    margin-top: 0.4rem;
    
                    .handle {
                        transition: all 300ms ease;
                        opacity: 0;
                        color: #ccc;
                        cursor: move;
                        width: 1rem;
                        height: 1px;
                        margin-right: 0.5rem;
                    }
    
                    .issue-line {
    
                        .delete-button {
                            opacity: 0;
                        } 
                    }
    
                    .issue {
                        text-decoration: unset;
                        height: 1.5rem;
                        color: map-get($colorMap, "primary");
                        font-size: 1rem;
                        font-weight: 200;
                        padding-left: 0.2rem;
                    }
    
                    .issue-drag {
                        transition: all 100ms ease;
                        border: unset;
                        padding-left: unset;
                    }
                }
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
    
  .cdk-drop-list-dragging .topic:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .drag-placeholder {
    background: rgba(204, 204, 204, 0.445);
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .drag-issue-placeholder {
    background: rgba(204, 204, 204, 0.445);
    min-height: 1.5rem;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  